.nft-dots-menu {
    background-color: #17161C;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5.25rem;
    cursor: pointer;

    &.small {
        margin-left: 0;
        width: 2rem;
        height: 2rem;
        margin-left: 0.5rem;
    }

    & > i {
        color: #79798C;
    }
}