@import "variables";

.nft-content {
    padding: 0 4.7rem;
    margin-top: 1.9rem;
    height: 40rem;
    
    .nft-main {
        background-color: $secondary_bg_color;
        padding: 1.6rem 1.3rem;
        overflow-y: scroll;
        height: 40rem;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar {
            display: none;  /* Safari and Chrome */
        }

        h3 {
            font-size: 1.25rem;
            font-weight: 700;
            color: $main_text_color;
            margin-bottom: 1.5rem;
        }
    }

    .nft-sidebar-container {
        padding-left: 1.8rem;

        .nft-sidebar {
            background-color: $third_bg_color;
        }
    }
}