@import "variables";

.nft-navbar {
    height: 6.25rem;
    background-color: $bg_color;
    padding: 0 1.6rem 0 1.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & > ul {
        height: 100%;

        & > li {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 100%;
            box-sizing: content-box;
            position: relative;

            &:not(:last-child) {
                width: 7.7rem;
            }

            &.active {
                &:after {
                    content: "";
                    height: 5px;
                    background-color: #9452F7;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                }
            }
        }
    }

    a {
        color: $main_text_color;
        font-family: Inter;

        &.nav-link {
            font-weight: 500;
            font-size: 1rem;
        }
    }

    & > .nft-page-title {
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.4rem;
        color: $white_color;
    }

    .nft-dots-menu {
        background-color: #17161C;
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 5.25rem;
        cursor: pointer;


        & > i {
            color: #79798C;
        }
    }
}