@import "variables";

.nft-info-bar {
    .label {
        font-size: 0.9rem;
        font-weight: 500;
        color: #79798C;
    }

    .text {
        color: #F2F2F5;
        font-weight: 700;
        font-size: 0.9rem;
    }
}