@import "variables";

.nft-status {
    height: 3.6rem;

    .nft-row {
        height: 100%;
    }

    .nft-col {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        &:nth-child(odd) {
            background-color: $secondary_bg_color;
        }   
        &:nth-child(even) {
            background-color: #1A1A22;
        } 

        .nft-value {
            font-weight: 500;
        }

        .nft-arrow {
            margin-left: 0.3rem;
            margin-right: 0.3rem;
        }

        .nft-up-arrow {
            &::before {
                display: block;
                font-size: 0.7rem;
            }
            color: #2BC23F;
            transform: rotate(-45deg);
        }

        .nft-down-arrow {
            &::before {
                display: block;
                font-size: 0.7rem;
            }
            color: #BE3D2C;
            transform: rotate(45deg);
        }

        & > span {
            font-size: 0.9rem;
            color: $main_text_color;
            font-weight: 500;
        }

        .nft-amount {
            color: #79798C   
        }
    }
}