<div class="container-fluid nft-content">
    <div class="row">
      <div class="col-8 nft-main">
        <h3>24-Hour Feed</h3>
        <div>
            <%- include('../partials/feed_el'); %>
        </div>
      </div>
      <div class="col-4 nft-sidebar-container">
        <div class="nft-sidebar">
            <%- include('../partials/sidebar'); %>
        </div>
      </div>
    </div>
</div>