<div class="container-fluid nft-feed-el">
    <div class="row">
        <div class="col-5 left p-3">
            <div class="nft-box">
                <div class="nft-info">
                    <h2>hodlponkz.eth</h2>
                    <span class="nft-time">5 minutes ago</span>
                </div>
                <div class="nft-action">
                    <div class="nft-plus">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <div class="nft-more">
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </div>
            </div>
            <div class="nft-icon">
                <img src="assets/images/6529.png" class="nft-img">  
                <img src="assets/images/6529.png" class="nft-img">  
            </div>
        </div>
        <div class="col-7 right p-3">
            <div class="container-fluid p-0">
                <div class="row pb-3 nft-right-border">
                    <div class="col-8 primary-text">bought for Ξ245.2 ($442,102)</div>
                    <div class="col-4 secondary-text pr-3 d-flex justify-content-end flex-row">310% below NFTi</div>    
                </div>
                <div class="row pt-2 nft-calculations">
                    <div class="col-3">
                        <div>NFTI</div>
                        <div>Ξ760.12</div>
                    </div>
                    <div class="col-3">
                        <div>ADJ. FLOOR</div>
                        <div>Ξ720.42</div>
                    </div>    
                    <div class="col-6 d-flex justify-content-end flex-row">
                        <div>
                            <div>Est. profit</div>
                            <div class="nft-profit">Ξ514.92</div>
                        </div>
                    </div>    
                </div>
            </div>

        </div>
    </div>
</div>