<div class="container-fluid nft-feed-el">
    <div class="row">
        <div class="col-5 left">
            <div class="nft-box">
                <div class="nft-info">
                    <h2>hodlponkz.eth</h2>
                    <span class="nft-time">5 minutes ago</span>
                </div>
                <div class="nft-action">
                    <div class="nft-plus">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <div class="nft-more">
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </div>
            </div>
            <div class="nft-icon">
                <img src="assets/images/6529.png" class="nft-img">  
                <img src="assets/images/6529.png" class="nft-img">  
            </div>
        </div>
        <div class="col-7 right">

        </div>
    </div>
</div>