<nav class="navbar navbar-expand-lg nft-navbar">
    <a class="navbar-brand nft-page-title" href="/">Accounts</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reports">Reports</a>
      </li>
      <li class="nav-item">
        <div class="nft-dots-menu">
          <i class="fa-solid fa-ellipsis"></i>
        </div>
      </li>
    </ul>
</nav>