<div class="container-fluid nft-info-bar">
    <div class="row">
        <div class="col label">Est. Profit</div>
        <div class="col text d-flex justify-content-end">Ξ781.9K</div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="progress" style="height: 4px;">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>