<div class="container-fluid nft-sidebar p-0">
    <div class="row pt-2 pb-2 nft-nav m-0">
        <div class="col d-flex flex-row justify-content-start">
            <button class="nft-button">All</button>
            <button class="nft-button active">Whale</button>
            <button class="nft-button">New</button>
            <button class="nft-button">...</button>
        </div>
    </div>
    <div class="row mt-4 pt-7 ps-3 pb-2 pe-3">
        <h4 class="mb-3">1250 whales</h4>
        <%- include('../partials/info_bar'); %>
    </div>
</div>