<div class="container-fluid nft-sidebar p-0">
    <div class="row pt-2 pb-2 nft-nav m-0">
        <div class="col d-flex flex-row justify-content-start">
            <button class="nft-button">All</button>
            <button class="nft-button active">Whale</button>
            <button class="nft-button">New</button>
            <div class="nft-dots-menu small">
                <i class="fa-solid fa-ellipsis"></i>
            </div>
        </div>
    </div>
    <div class="row mt-4 pt-7 ps-3 pb-2 pe-3">
        <h4 class="mb-3">1250 whales</h4>
        <div id="target-whales">
        </div>
        <!-- <%- include('../partials/info_bar'); %> -->
    </div>
</div>