<div class="container-fluid nft-sidebar">
    <div class="row pt-2 pl-3 pb-2 pr-3">
        <div class="col d-flex flex-row justify-content-start">
            <button class="nft-button">All</button>
            <button class="nft-button active">Whale</button>
            <button class="nft-button">New</button>
            <button class="nft-button">...</button>
        </div>
    </div>
    <div class="row mt-3">
        <h4 class="mb-4">1250 whales</h4>
        <%- include('../partials/info_bar'); %>
    </div>
</div>