<div class="container-fluid nft-status">
    <div class="row nft-row">
      <div class="col-sm nft-col">
        <span>Volume</span>
        <span class="nft-value">Ξ60.94 <i class="fa-solid fa-arrow-right nft-arrow nft-up-arrow"></i> <span class="nft-amount">$171,143</span></span> 
      </div>
      <div class="col-sm nft-col">
        <span>Profits</span>
        <span class="nft-value">Ξ60.94 <i class="fa-solid fa-arrow-right nft-arrow nft-down-arrow"></i> <span class="nft-amount">$171,143</span></span> 
      </div>
      <div class="col-sm nft-col">
        <span>Losses</span>
        <span class="nft-value">Ξ60.94 <i class="fa-solid fa-arrow-right nft-arrow nft-up-arrow"></i> <span class="nft-amount">$171,143</span></span> 
      </div>
      <div class="col-sm nft-col">
        <span>Active wallets</span>
        <span class="nft-value">145.5K  <i class="fa-solid fa-arrow-right nft-arrow nft-up-arrow"></i></span> 
      </div>
      <div class="col-sm nft-col">
        <span>New wallets</span>
        <span class="nft-value">1,329 <i class="fa-solid fa-arrow-right nft-arrow nft-up-arrow"></i></span> 
      </div>
    </div>
</div>