@import "http://fonts.googleapis.com/css?family=Inter";
.nft-navbar {
  height: 6.25rem;
  background-color: #09090A;
  padding: 0 1.6rem 0 1.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nft-navbar > ul {
  height: 100%;
}
.nft-navbar > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: content-box;
  position: relative;
}
.nft-navbar > ul > li:not(:last-child) {
  width: 7.7rem;
}
.nft-navbar > ul > li.active:after {
  content: "";
  height: 5px;
  background-color: #9452F7;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.nft-navbar a {
  color: #F2F2F5;
  font-family: Inter;
}
.nft-navbar a.nav-link {
  font-weight: 500;
  font-size: 1rem;
}
.nft-navbar > .nft-page-title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: white;
}

.nft-status {
  height: 3.6rem;
}
.nft-status .nft-row {
  height: 100%;
}
.nft-status .nft-col {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.nft-status .nft-col:nth-child(odd) {
  background-color: #17161C;
}
.nft-status .nft-col:nth-child(even) {
  background-color: #1A1A22;
}
.nft-status .nft-col .nft-value {
  font-weight: 500;
}
.nft-status .nft-col .nft-arrow {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}
.nft-status .nft-col .nft-up-arrow {
  color: #2BC23F;
  transform: rotate(-45deg);
}
.nft-status .nft-col .nft-up-arrow::before {
  display: block;
  font-size: 0.7rem;
}
.nft-status .nft-col .nft-down-arrow {
  color: #BE3D2C;
  transform: rotate(45deg);
}
.nft-status .nft-col .nft-down-arrow::before {
  display: block;
  font-size: 0.7rem;
}
.nft-status .nft-col > span {
  font-size: 0.9rem;
  color: #F2F2F5;
  font-weight: 500;
}
.nft-status .nft-col .nft-amount {
  color: #79798C;
}

.nft-content {
  padding: 0 4.7rem;
  margin-top: 1.9rem;
  height: 40rem;
}
.nft-content .nft-main {
  background-color: #17161C;
  padding: 1.6rem 1.3rem;
  overflow-y: scroll;
  height: 40rem;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.nft-content .nft-main::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.nft-content .nft-main h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #F2F2F5;
  margin-bottom: 1.5rem;
}
.nft-content .nft-sidebar-container {
  padding-left: 1.8rem;
}
.nft-content .nft-sidebar-container .nft-sidebar {
  background-color: #1A1A22;
}

.nft-feed-el .left {
  background-color: #1D1D26;
  border-right: 1px solid #17161C;
}
.nft-feed-el .left .nft-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2.5rem;
  align-items: stretch;
}
.nft-feed-el .left .nft-box .nft-info {
  display: flex;
  flex-direction: column;
}
.nft-feed-el .left .nft-box .nft-info h2 {
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
}
.nft-feed-el .left .nft-box .nft-info .nft-time {
  color: #79798C;
  font-weight: 500;
  font-size: 0.75rem;
}
.nft-feed-el .left .nft-box .nft-action {
  display: flex;
  flex-direction: row;
}
.nft-feed-el .left .nft-box .nft-action .nft-plus {
  background-color: #282836;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  cursor: pointer;
}
.nft-feed-el .left .nft-box .nft-action .nft-plus > i {
  color: #9452F7;
  font-size: 0.8rem;
}
.nft-feed-el .left .nft-box .nft-action .nft-more {
  background-color: #353547;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  cursor: pointer;
}
.nft-feed-el .left .nft-box .nft-action .nft-more > i {
  font-size: 0.7rem;
  color: #F2F2F5;
}
.nft-feed-el .left .nft-icon {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
.nft-feed-el .left .nft-icon .nft-img {
  border-radius: 2px;
  background-color: #638596;
  width: 1.8rem;
  height: 1.8rem;
}
.nft-feed-el .right {
  background-color: #1D1D26;
}
.nft-feed-el .right .primary-text {
  font-weight: 500;
  color: #F2F2F5;
  font-size: 0.9rem;
}
.nft-feed-el .right .secondary-text {
  color: #79798C;
  font-size: 0.75rem;
}
.nft-feed-el .right .nft-calculations {
  color: #79798C;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75rem;
}
.nft-feed-el .right .nft-calculations .nft-profit {
  font-weight: 700;
  font-size: 0.9rem;
  text-align: end;
}
.nft-feed-el .right .nft-calculations .profit {
  color: #3CD660;
}
.nft-feed-el .right .nft-calculations .loss {
  color: #BE3D2C;
}
.nft-feed-el .right .nft-right-border {
  border-bottom: 1px solid #17161C;
}

.nft-sidebar {
  height: 100%;
  border-radius: 0px 0px 2px 2px;
  background-color: #17161C;
}
.nft-sidebar .nft-nav {
  background-color: #1D1D26;
  min-width: 100%;
}
.nft-sidebar .nft-button {
  border-radius: 31px;
  background: #17161C;
  height: 2rem;
  color: #79798C;
  font-weight: 600;
  border: none;
  margin-left: 0.5rem;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
}
.nft-sidebar .nft-button:hover, .nft-sidebar .nft-button.active {
  background-color: #F2F2F5;
  color: #17161C;
}
.nft-sidebar h4 {
  color: #F2F2F5;
  font-weight: 700;
  font-size: 0.9rem;
}
.nft-sidebar .progress {
  background-color: #282836;
}
.nft-sidebar .progress-bar {
  background-color: #1FA8D1;
}

.nft-info-bar .label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #79798C;
}
.nft-info-bar .text {
  color: #F2F2F5;
  font-weight: 700;
  font-size: 0.9rem;
}

.nft-dots-menu {
  background-color: #17161C;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 5.25rem;
  cursor: pointer;
}
.nft-dots-menu.small {
  margin-left: 0;
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
}
.nft-dots-menu > i {
  color: #79798C;
}

body {
  background-color: #09090A !important;
}

/*# sourceMappingURL=main.css.map */
